<head>
    <script src="javascripts/<%= js %>.js" defer></script>
</head>

<%- include('partials/header') %>

    <!--CONTEÚDO MAIN -->
    <main>
        <% for(const filme of Itens) { %>
            <section class="item">
                    <input type="hidden" value="<%=filme.id%>" id="id" name="id">
                    <img class="imagem-produto" src="<%=filme.imagem%>"/>
                    <div class="descricao-produto">
                        <div>
                            <h2 class="filme-nome"> <%=filme.nome%></h2>
                            <br>
                            <p class="filme-descricao"> <%=filme.descricao%></p>
                        </div>
                        <div class="container-preco">
                            <img id="indicacao" src="<%=filme.classificacao%>">
                            <div>
                                <span class="filme-valor"></span>
                                <img class="remover" type="button" src="/img/ico/lixo.png"/>
                                <input type="hidden" value="<%=filme.id%>" id="id" name="id">
                            </div>
                        </div>
                    </div>
            </section>
        <% } %>

        <section class="pagamento">

            <section class="resumo">
                <div>
                    <h2>RESUMO DO PEDIDO</h2>                 
                </div>
                <br>
                <hr>
                <div>
                    <h3>CARRINHO: X ITENS</h3>
                    <span>R$19,90</span>                   
                </div>
                <br>
                <hr>
                <div>
                    <h3>DESCONTO</h3>
                    <span>R$19,90</span>                  
                </div>
                <br>
                <hr>
                <div>
                    <h2>TOTAL</h2>
                    <span>R$19,90</span>               
                </div>
                <br>
            </section>
           <button ><a href="<%= '/carrinho/compra' %>">finalizar pedido</a></button> 
        </section>
    </main>
<%- include('partials/footer') %>
