<head>
    <script src="/javascripts/index.js" defer></script>
</head>

<%- include('partials/header') %>
    <main>
        <hr>
        <div class="sub-header">
            <form action="/produtos/categorias/" class="content-genero" method="get">
                <select name="tipo" id="tipo">
                    <option value="filme" selected>Filmes</option>
                    <option value="serie">Series</option>
                            
                </select>
                <div>
                    <select name="categoria" id="genero">
                        <% categorias.forEach(element=> { %>
                            <option value=<%=element.id %>><%= element.nome %>
                            </option>
                            <% }); %>
                    </select>

                    <button id="busca" type="submit"><img src="/img/ico/lupa.svg" /></button>
                </div>
            </form>
        </div>

        <section class="container">
            <div class="titulos">
                    <% if(filmes && filmes.length > 0 && filmes[0].tipo) { %>
                        <div class="titulos">
                            <h1>
                                <%= filmes[0].tipo %>S <%= filmes[0].categorias %>
                            </h1>
                        </div>
                        <% } else { %>
                            <p>Não localizamos nada!</p>
                            <p> Faça uma nova pesquisa!</p>
                    <% } %>
            </div>

            
            </div>
            <section class="filmes">

                <% for(const produto of filmes) { %>
                    <div class="filme-show">
                        <a href="/produtos?nome=<%= produto.nome %>">
                            <img src="/img/<%- filmes[0].tipo%>s/<%- produto.background %>.jpg" alt="" id="back-filme">
                            <div class="descri">
                                <div>
                                    <h3 id="nome-filme">
                                        <%= produto.nome %>
                                    </h3>
                                </div>

                                <div id="dados-filmes">
                                    <h1 id="id-filmes">
                                        <%= produto.id %>
                                    </h1>
                                    <h1 id="categoria-filmes">
                                        <%= produto.id %>
                                    </h1>
                                    <h1 id="tipo-filmes">
                                        <%= produto.tipo %>
                                    </h1>
                                    <h1 id="compra-filmes">
                                        <%= produto.valor%>
                                    </h1>
                                    <img src="/img/<%- produto.tipo%>/<%- produto.imagem %>.jpg" id="img-filmes">
                                    <%= produto.imagem %>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% }%>
            </section>
        </section>
    </main>
    <%- include('partials/footer')%>