<!DOCTYPE html>
<html>
  <head>
      <link rel='stylesheet' href='/public/stylesheets/categorias.css' />
  </head>
<body>

    <%- include('partials/header') %>

        <main>
            <section class="container">
                <div class="titulos">
                    <h1>Ação</h1>
                </div>

                <hr>
                <section class="filmes-acao">
                    <% for(const categoria of categorias) { %>
                        <div>
                            <img src="img/filmes/<%=categoria.imagem%>.jpg">
                            <p>
                                <%= categoria.nome %>
                            </p>
                            <span>
                                <%= categoria.valor_aluguel %>
                            </span>
                            <span>
                                <%= categoria.valor_compra %>
                            </span>
                        </div>
                        <% }%>
                </section>

                <div class="titulos">
                    <h1>Drama</h1>
                </div>

                <hr>
                <section class="filmes-drama">
                    <div>
                        <img src="/img/filme2.jpg" alt="">
                        <p>ESCOLA DO BEM E DO MAL</p>
                        <span>R$19,90</span>
                    </div>
                    <div>
                        <img src="/img/filme6.jpg" alt="">
                        <p>CORAÇÕES DE FERRO</p>
                        <span>R$19,90</span>
                    </div>
                    <div>
                        <img src="/img/filme12.jpg" alt="">
                        <p>O DIABO DE CADA DIA</p>
                        <span>R$19,90</span>
                    </div>
                </section>

                <div class="titulos">
                    <h1>Comédia</h1>
                </div>

                <hr>
                <section class="filmes-comedia">
                    <div>
                        <img src="/img/filme10.jpg" alt="">
                        <p>ARREMESSANDO ALTO</p>
                        <span>R$19,90</span>
                    </div>
                    <div>
                        <img src="/img/filme9.jpg" alt="">
                        <p>AS BRANQUELAS</p>
                        <span>R$19,90</span>
                    </div>
                    <div>
                        <img src="/img/filme3.jpg" alt="">
                        <p>ESPOSA DE ALUGUEL</p>
                        <span>R$19,90</span>
                    </div>
                </section>

                <div class="titulos">
                    <h1>Suspense</h1>
                </div>

                <hr>
                <section class="filmes-suspense">
                    <div>
                        <img src="/img/filme12.jpg" alt="">
                        <p>O DIABO DE CADA DIA</p>
                        <span>R$19,90</span>
                    </div>
                    <div>
                        <img src="/img/filme11.jpg" alt="">
                        <p>BELEZA AVASSALADORA</p>
                        <span>R$19,90</span>
                    </div>
                    <div>
                        <img src="/img/filme8.jpg" alt="">
                        <p>ONDE ESTÁ SEGUNDA?</p>
                        <span>R$19,90</span>
                    </div>
                </section>
            </section>
        </main>

        <%- include('partials/footer')%>
</body>

</html>