<%- include('partials/header') %>

    <main>
        <div class="sub-header">
            <div class="escolher">
                <input type="button" value="SÉRIES" name="series" id="submit" src="<%='/produtos/filmes' %>">
                <input type="button" value="FILMES" name="filmes" id="submit" src="<%= '/produtos/series' %>">
            </div>
            <form action="/produtos/categorias" class="content-genero" method="get">
                <h1>Categoria: </h1>
                <select name="categoria" id="genero">
                    <option value="selecione" disabled selected hidden>Selecione</option>
                    <option value="acao">Ação</option>
                    <option value="aventura">Aventura</option>
                    <option value="comedia">Comédia</option>
                    <option value="danca">Dança</option>
                    <option value="documentario">Documentário</option>
                    <option value="drama">Drama</option>
                    <option value="faroeste">Faroeste</option>
                    <option value="ficcao">Ficção</option>
                    <option value="guerra">Guerra</option>
                    <option value="musical">Musical</option>
                    <option value="policial">Policial</option>
                    <option value="romance">Romance</option>
                    <option value="suspense">Suspense</option>
                    <option value="terror">Terror</option>
                </select>
                <button id="busca" type="submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                        <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 
                    457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7
                    376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1
                    0 208 0S416 93.1 416 208zM208 352c79.5
                    0 144-64.5 144-144s-64.5-144-144-144S64
                    128.5 64 208s64.5 144 144 144z" />
                    </svg></i></button>
            </form>
        </div>

        <section class="container">
            <div class="titulos">
                <h1>
                    <%= categoria%>
                </h1>
            </div>

            <hr>
            <section class="filmes">

                <% for(const produto of produtos) { %>
                    <div class="filme-show">
                        <img src="/img/filmes/<%=produto.imagem%>.jpg">
                        <div class="descri"> 
                            <h3 id="nome-filme">
                                <%= produto.nome %>
                            </h3>

                            <p id="descri-filme">
                                <%= produto.descricao %>
                            </p>
                        </div>
                    </div>
                    <% }%>
            </section>
        </section>
    </main>
    <%- include('partials/footer')%>