<head>
    <link rel='stylesheet' href='/stylesheets/compra.css' />
</head>

<%- include('partials/header') %>

    <main>
        <span class="pag-seguro">PAGAMENTO SEGURO</span>
        <section class="content-1">

            <div class="content-form">
                <div>
                    <h1>Comprar</h1>
                </div>
                <form action="">

                    <div>
                        <div class="invisible err-nome error">Campo obrigatório!</div>
                        <input class="content-input" type="text" placeholder="NOME*" name="nome" minlength="3"
                            maxlength="20">
                    </div>

                    <div>
                        <div class="invisible err-sobrenome error">Campo obrigatório!</div>
                        <input class="content-input" type="text" placeholder="SOBRENOME*" name="sobrenome" minlength="3"
                            maxlength="20">
                    </div>

                    <div>
                        <div class="invisible err-cpf error">Campo obrigatório!</div>
                        <input class="content-input" type="text" placeholder="CPF/CNPJ*" name="cpf"
                            pattern="\d{3}\.\d{3}\.\d{3}-\d{2}">
                    </div>

                    <div>
                        <div class="invisible err-email error">Campo obrigatório!</div>
                        <input class="content-input" type="email" placeholder="EMAIL*" name="email">
                    </div>

                    <div>
                        <div class="invisible err-endereco error">Campo obrigatório!</div>
                        <input class="content-input" type="text" placeholder="ENDEREÇO*" name="endereco">
                    </div>

                    <div>
                        <div class="invisible err-codigo-postal error">Campo obrigatório!</div>
                        <input class="content-input" type="text" placeholder="CÓDIGO POSTAL*" name="codigo-postal"
                            maxlength="8">
                    </div>

                    <div>
                        <div class="invisible err-estado error">Campo obrigatório!</div>
                        <input class="content-input" type="text" placeholder="ESTADO*" name="estado">
                    </div>

                    <div>
                        <div class="invisible err-cidade error">Campo obrigatório!</div>
                        <input class="content-input" type="text" placeholder="CIDADE*" name="cidade">
                    </div>

                    <div>
                        <div class="invisible err-pais error">Campo obrigatório!</div>
                        <input class="content-input" type="text" placeholder="PAÍS*" name="pais">
                    </div>

                    <div class="checkboxe">
                        <input class="check" type="checkbox">
                        <p>Salvar para pedidos futuros
                        </p>
                    </div>

                    <div class="payment">
                        <div class="input-pay">
                            <input class="check" type="radio" name="pay">
                            <img src="/img/pagamento/<%=compra[0].img%>.svg " alt="">
                        </div>
                        <div class="input-pay">
                            <input class="check" type="radio" name="pay">
                            <img src="/img/pagamento/<%=compra[1].img%>.svg " alt="">
                        </div>
                        <div class="input-pay">
                            <input class="check" type="radio" name="pay">
                            <img src="/img/pagamento/<%=compra[2].img%>.svg " alt="">
                        </div>
                        <div class="input-pay">
                            <input class="check" type="radio" name="pay">
                            <img src="/img/pagamento/<%=compra[3].img%>.svg " alt="">
                        </div>
                    </div>

                    <div class="pay-button">
                        <button type="submit">Confirmar</button>
                    </div>
            </div>



            </div>

            <div class="content-pagamento">
                <section class="resumo">
                    <div>
                        <h2>RESUMO DO PEDIDO</h2>
                    </div>
                    <br>
                    <hr>
                    <div>
                        <h3>CARRINHO: <%= qtdItens %> ITENS</h3>
                        <span><%compra.valor%></span>
                    </div>
                    <br>
                    <hr>
                    <div>
                        <h3>DESCONTO</h3>
                        <span><%compra.valorDesconto%></span>
                    </div>
                    <br>
                    <hr>
                    <div>
                        <h2>TOTAL</h2>
                        <span><%compra.valorTotal%></span>
                    </div>
                    <br>
                </section>
                <button>finalizar pedido</button>
            </div>

        </section>
    </main>
    <%- include('partials/footer') %>