<head>
    <script src="/javascripts/finalizaCompra.js" defer></script>
</head>

<%- include('partials/header') %>

    <main>
            <div class="content-confirma">
                <h1 id="titulo"><%- mensagem %></h1>
                <div class="card-detalhes">
                    <div class="card-itens">
                        <% for(const filme of itens) { %>
                            <img id="card-img" src="/img/<%- filme.tipo %>s/<%- filme.background %>.jpg" />
                        <% } %>
                    </div>
                    <div class="card-valor">
                        <h2>Valor Total: </h2>
                        <h2>R$ <%- total %></h2>
                    </div>
                </div>
                <br>
                <% switch (metodo_pagamento) { case "cartao": %>
                        <p>Pagamento confirmado sucesso!!!</p>
                        <img src="/img/ico/confirmarcao.png" />
                    <% break; case "pix": %>
                        <p>Leia o QR com seu aplicativo de cardeita digital.</p>
                        <img src="/img/pagamento/PixLumiereQR.jpg">
                    <% break; case "boleto": %>
                        <p>Pagamento com boletos, podem levar até 2 dias úteis para confirmação.</p>
                        <img src="/img/pagamento/codigo-de-barras.png">
                    <% break; default: break; } %>
            </div>

            <div class="bt_painel">
                <button src="<%- '/login' %>" id="painel-user">Painel Usuário</button>
            </div>
    </main>

    <%- include('partials/footer') %>