<%- include('partials/header') %>

    <main>
        <section class="container-central">
            <button id="prev">&lArr;</button>
            <div class="carrossel-container">
                <div class="carrossel">
                    <div class="slide1">
                        <img src="/img/banners/banner1.jpg" alt="">
                    </div>
                    <div class="slide2">
                        <img src="/img/banners/banner2.jpg" alt="">
                    </div>
                    <div class="slide3">
                        <img src="/img/banners/banner3.jpg" alt="">
                    </div>
                    <div class="slide4">
                        <img src="/img/banners/banner4.jpg" alt="">
                    </div>
                </div>
            </div>
            <button id="next">&rArr;</button>
        </section>
        <hr>
        <section class="container">
            <div class="titulos">
                <h1>FILMES</h1>
                <a href="<%= '/produtos/maisFilmes?tipo=filme' %>">Mais Filmes...</a>
            </div>

            <hr>
            <section class="filmes-home">
                <% for (const listafilmes of filmes) { %>
                    <div class="filme-show">
                        <a href="<%= '/produtos' %>/?nome=<%- listafilmes.nome  %>">
                            <img src="/img/filmes/<%= listafilmes.background%>.jpg" alt="" id="back-filme">
                            <div class="descri">
                                <div>
                                    <h3 id="nome-filme">
                                        <%= listafilmes.nome %>
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% } %>
            </section>
            <hr>
            <div class="titulos">
                <h1>SÉRIES</h1>
                <a href="<%= '/produtos/maisSeries?tipo=serie' %>">Mais Séries...</a>
            </div>

            <section class="series-home">
                <% for (const listaSeries of series) { %>
                    <div class="filme-show">
                        <a href="<%= '/produtos' %>/?nome=<%- listaSeries.nome  %>">
                            <img src="/img/series/<%= listaSeries.background %>.jpg" alt="" id="back-filme">
                            <div class="descri">
                                <div>
                                    <h3 id="nome-filme">
                                        <%= listaSeries.nome %>
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% } %>
            </section>
        </section>
    </main>
    <!-- Inicia footer -->
    <%- include('partials/footer')%>