
<head>
    <link rel="stylesheet" href="/stylesheets/<%= pageName %>.css" />
        <script src="/javascripts/<%=js%>.js" defer></script>

        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/img/favicon.ico"
        />
</head>

<header>
    <div class="barra-superior">
        <div>
            <img src="/img/logo.svg" />
        </div>
        <div id="user-menu">
            <img src="/img/ico/user.png" id="icon-user"/>
            <div>
                <h2>Nome do Administrador</h2>
                <h3>Administrador</h3>
            </div>
            <button>Sair</button>
        </div>
    </div>
</header>

<main>
    <div class="barra-lateral">
        <a> <button>Produtos</button></a>
        <a> <button>Usuários</button></a>
        <a> <button>Vendas</button></a>
        <a> <button>Configurações</button></a>
    </div>

    <section class="content">
        <div>
        <h2>Adicionar</h2>
            <form action="/produtos/adicionaFilme" method="POST"  >
                <div class="check">
                    <input type="radio" name="tipo" value="filmes" class="check" checked/>
                    <label for="Filmes">Filmes</label>
                    <input type="radio" name="tipo" value="series" class="check" />
                    <label for="Séries">Séries</label>
                </div>
                <div id="div-add-dados">
                    <input type="text" name="nome" placeholder="Filme" value=""></textarea>
                    <textarea type="text" name="descricao" placeholder="Descrição do filme" value=""></textarea>
                    <select name="categorias_id" id="categoria">
                        <% categoria.forEach(element => { %>
                            <option value="<%- element.id %>"><%- element.nome %></option>
                        <% }); %>
                    </select>
                    <select name="classificacoes_id" id="classificacao">
                        <% classificacao.forEach(element => { %>
                            <option value=<%- element.id %> ><%- element.nome %></option>
                        <% }); %>
                    </select>
                    <input type="text" name="valor" placeholder="valor"  value=""></textarea>
                    <p>Imagem Widescreen</p>
                    <input type="file" name="fundo" placeholder="imagem" />
                    <p>Capa</p>
                    <input type="file" name="capa" placeholder="background" />
                </div>
                <button id="bt-add-filme" type="submit">Adicionar</button>
            </form>
    </div>
    </section>
</main>
<%- include('partials/footer')%>