<head>
    <link rel="stylesheet" href="/stylesheets/<%= pageName %>.css" />
        <script src="/javascripts/<%=js%>.js" defer></script>

        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/img/favicon.ico"
        />
        <title><%=pageName%></title>
</head>

<%- include('partials/painelHeader')%>

<main>
    <%- include('partials/lateralHeader')%>

    <section class="content">
        <div id="titulos">
            <h1>Produtos</h1>
            <a><h3>Filmes \</h3></a>
            <a><h3>Series</h3></a>
        </div>
        <div id="content-itens">
            <div id="itens">
                <div id="itens-titulo">
                    <div>
                        <img src="/img/logo.svg"/>
                        <h4>Lista de Produtos</h2>
                    </div>
                    <div id="action-itens">
                        <form method="get" action="/painel/criar">
                            <button id="bt-adicionar"><img src="/img/ico/adicionar.png" /></button>
                        </form>
                    </div>
                </div>
                <div id="lista-borda">
                    <div id="itens-menu">
                        <ul>
                            <li id="li-imagem">Imagem</li>
                            <hr>
                            <li id="li-nome" >Nome</li>
                            <hr>
                            <li id="li-cate">Categoria</li>
                            <hr>
                            <li id="li-class">Classificação</li>
                            <hr>
                            <li id="li-acao">Ação</li>
                        </ul>
                    </div>
                    
                    <% filme.forEach(element => { %>
                        <div id="itens-lista">
                            <ul>
                                <li id="li-imagem"><img src="/img/filmes/<%- element.background %>.jpg"/></li>
                                <hr>
                                <li id="li-nome"><%- element.nome %></li>
                                <hr>
                                <li id="li-cate"><%- categoria[element.categorias_id -1].nome %></li>
                                <hr>
                                <li id="li-class" ><%- classificacoes[element.classificacoes_id - 1].nome %></li>
                                <hr>
                                <li id="li-acao">
                                    <form method="POST" action="/painel/editar?_method=PUT" id="form_editar">
                                        <input id="input-value" name="id" value=<%- element.id %> style="display: none" >
                                        <button id="bt-editar" type="submit" ><img src="/img/ico/lapis.png" /></button>
                                    </form>
                                    <form>
                                        <input id="inputDelele" name="id" value=<%- element.id %> style="display: none" >
                                        <button id="bt-excluir" ><img src="/img/ico/icone-x.png" /></button>
                                    </form>
                                    
                                </li>
                            </ul>
                        </div>
                    <% }) %>
                   
                </div>
            </div>
            <!-- <div id="filtro"></div> -->
        </div>
    </section>

    <div class="pop-up" style="display: none;">
        <div id="pop-up-content">
            <span><button>X</button></span>
            <h2>Deseja realmente EXCLUIR este item?</h2>
            <h4>Esta ação é irreversível!</h4>
            <form method="POST" action="/painel/deletar?_method=DELETE">
                <input id="pup-up-inputValue" name="id" style="display: none" >
                <button id="pup-up-excluir" >DELETAR</button>
            </form>
        </div>
    </div>

</main>
<%- include('partials/footer')%>
