<head>
    <link rel="stylesheet" href="/stylesheets/<%= pageName %>.css" />
        <script src="/javascripts/<%=js%>.js" defer></script>

        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/img/favicon.ico"
        />
</head>

<header>
    <div class="barra-superior">
        <div>
            <img src="/img/logo.svg" />
        </div>
        <div id="user-menu">
            <img src="/img/ico/user.png" id="icon-user"/>
            <div>
                <h2>Nome do Administrador</h2>
                <h3>Administrador</h3>
            </div>
            <button>Sair</button>
        </div>
    </div>
</header>

<main>
    <div class="barra-lateral">
        <a> <button>Produtos</button></a>
        <a> <button>Usuários</button></a>
        <a> <button>Vendas</button></a>
        <a> <button>Configurações</button></a>
    </div>

    <section class="content">
        <div id="titulos">
            <h1>Produtos</h1>
            <a><h3>Filmes \</h3></a>
            <a><h3>Series</h3></a>
        </div>
        <div id="content-itens">
            <div id="itens">
                <div>
                    <img src="/img/logo.svg"/>
                    <h4>Lista de Produtos</h2>
                    <div id="action-itens">
                        <a><button><img src="/img/ico/arquivo.png" /></button></a>
                        <a><button><img src="/img/ico/botao-de-deletar.png" /></button></a>
                    </div>
                </div>
                <div id="lista-borda">
                    <div id="itens-menu">
                        <input type="checkbox">
                        <hr>
                        <ul>
                            <li>Imagem</li>
                            <hr>
                            <li>Nome</li>
                            <hr>
                            <li>Categoria</li>
                            <hr>
                            <li>Classificação</li>
                            <hr>
                            <li>Ação</li>
                        </ul>
                    </div>

                    <% filme.forEach(element => { %>
                        <div id="itens-lista">
                            <input type="checkbox">
                            <hr>
                            <ul>
                                <li><img src="/img/filmes/<%- element.background %>.jpg"/></li>
                                <hr>
                                <li><%- element.nome %></li>
                                <hr>
                                <li><%- categoria[parseInt(element.classificacoes_id)].nome %></li>
                                <hr>
                                <li><%- classificacoes[parseInt(element.classificacoes_id)].nome %></li>
                                <hr>
                                <li>
                                    <button><img src="/img/ico/lapis.png" /></button>
                                </li>
                            </ul>
                        </div>
                    <% }) %>

                    
                </div>
            </div>
            <div id="filtro"></div>
        </div>
    </section>
</main>
<%- include('partials/footer')%>
