<head>
    <link rel="stylesheet" href="/stylesheets/cadastroUsuario.css" />
    <script src="/javascripts/cadastroUsuario.js" defer></script>
</head>

<%- include('partials/header') %>

    <aside class="container-side">
        <nav id="menu">
            <h1>Minha Conta</h1>
            <ul>
                <li><a href="#section-historico">Histórico de pedidos</a></li>
                <li><a href="#alterar">Alterar cadastro</a></li>
                <li><a href="#section-pay">Cadastrar cartão</a></li>
                <li><a href="#section-cancelar">Cancelar assinatura</a></li>
            </ul>
        </nav>
    </aside>
    <main class="main-painelUser">
        <div id="section-content">
            <section class="container">
                <div>
                    <section id="section-historico">
                        <div class="titulos">
                            <h1>Histórico de Pedidos</h1>
                        </div>
                        <div class="comprados">
                            <table style="text-align: center;font-size: 14px;" width="900" height="150" border="2"
                                cellspacing="5" cellpadding="8" style="background-color: #4d0c0c;">
                                <tr style="text-align: center; color:#ff0000">
                                    <td>Item</td>
                                    <td>Data da Compra</td>
                                    <td>Forma de Pagamento</td>
                                    <td>Valor</td>
                                </tr>
                                <% for(const lista of dados.historico) { %>
                                    <tr>
                                        <td><%= lista.itens %></td>
                                        <td>
                                            <%= lista.data %>
                                        </td>
                                        <td>
                                            <%= lista.metodo_pay %>
                                        </td>
                                        <td>
                                            <%= lista.valor %>
                                        </td>
                                    </tr>
                                <% } %>

                            </table>

                        </div>
                    </section>
                </div>
                <div>
                    <section id="section-dados">
                        <section class="altera-dados">
                            <div class="titulos">
                                <h1 id="alterar">Alterar Dados</h1>
                            </div>
                            <section class="alterar">
                                <div class="formulario">
                                    <div class="dados-usuario">
                                        <div>
                                            <div class="dados-completos">
                                                <div>
                                                    <h1>Dados de Login: </h1>
                                                </div>
                                            
                                            <form class="form-cad" method="post"
                                                action="/painel/users/atualizar?_method=PUT">

                                                <input name="id" value="<%- users.id %>" style="display: none;" />
                                                <input name="tipo" value="<%- users.tipo %>" style="display: none;" />
                                                <label for="email">Alterar e-mail:</label>
                                                <input value="<%- users.email %>" placeholder="EMAIL..." type="email"
                                                    name="novo_email" />
                                                <label for="senha">Senha Atual:</label>
                                                <input placeholder="SENHA" type="password" name="senha" />
                                                <label for="senha">Alterar Senha:</label>
                                                <input placeholder="SENHA" type="password" name="nova_senha" />
                                                <button type="submit">Atualizar</button>
                                            </form>
                                            </div>
                                        </div>

                                        <div class="dados-completos">
                                            <div>
                                                <h1>Dados completos do usuário: </h1>
                                            </div>
                                            <% if (!dados) { %>
                                                <div>
                                                    <h4> Usuário nao preencheu os dados</h4>
                                                </div>
                                                <div id="bt-dados">
                                                    <button>Preencher</button>
                                                </div>
                                                <% } else { %>
                                                    <div>
                                                        <h4>Nome</h4>
                                                        <p><%- dados.nome_usuario %></p>
                                                        <h4>Sobrenome</h4>
                                                        <p><%- dados.sobrenome%></p>
                                                    </div>
                                                    <div>
                                                        <h4>CPF: </h4>
                                                        <p><%- dados.cpf %></p>
                                                    </div>
                                                    <div>
                                                        <h4>Endereço:</h4>
                                                        <div>
                                                            <h5>Logradouro:</h5>
                                                            <p><%- dados.endereco %></p>
                                                        </div>
                                                        <div id="endereco">
                                                            <div>
                                                                <h5>Bairro: </h5>
                                                                <p><%- dados.bairro %></p>
                                                                <h5>Cidade: </h5>
                                                                <p><%- dados.cidade %></p>
                                                            </div>
                                                            <div>
                                                                <h5>Estado: </h5>
                                                                <p><%- dados.estado %></p>
                                                                <h5>CEP: </h5>
                                                                <p><%- dados.codigo_postal %></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h4>Formas de pagamento cadastrados:</h4>
                                                    </div>
                                                    <div id="bt-dados">
                                                        <button>Editar</button>
                                                    </div>
                                                    <% } %>
                                        </div>
                                    </div>

                                </div>
                            </section>
                        </section><br>
                    </section>
                </div>
                <div>
                    <section id="section-pay">
                        <!-- CARTAO DE CREDITO -->
                        <section class="credit-card">
                            <br>
                            <div class="new-card">
                                <div class="titulos">
                                    <h1>Dados do novo cartão</h1>
                                </div>
                                <div class="form-container active">
                                    <% for(const card of cartao) { %>
                                        <div class="cartao">
                                            <img src="/img/pagamento/credit-card.svg" />
                                             <div>
                                                <input name="selectCartao" type="radio"
                                                    value="<%= card.id %>">
                                                <input name="nome_completo"
                                                    value="<%= card.nome_completo %>" disabled />
                                                <input name="numero_cartao"
                                                    value="<%= card.numero_cartao %>" disabled />
                                                <input name="vencimento" value="<%= card.vencimento %>"
                                                    disabled />
                                                <input name="cvv" type="text" placeholder="CVV"
                                                    maxlength="3" value="<%= card.cvv %>" /></input>
                                            </div>
                                        </div>
                                    <% } %>
                                    <form class="formulario-card" action="/painel/novoCartao" method="post">
                                        <div class="cartao">
                                            <img src="/img/pagamento/credit-card.svg" />
                                            <% if (dados) { %>
                                            <input placeholder="Nome como no cartão" type="text" name="nome_completo" />
                                            <input placeholder="Número do cartão" type="text" name="numero_cartao" maxlength="19" />
                                            <input placeholder="MM/AA" type="text" name="vencimento" maxlength="5" />
                                            <input placeholder="CVV" type="text" name="cvv" maxlength="3" />
                                        </div>
                                        <div class="cad-cartao">
                                            <button type="submit">Cadastrar novo cartão </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section> <br>
                    </section>
                </div>
                <div>
                    <section id="section-cancelar">
                        <!-- CANCELAR CONTA -->
                        <section class="cancelar">
                            <div class="titulos">
                                <h1>Deseja cancelar sua assinatura?</h1>
                            </div>
                            <br>
                            <section class="cancel">
                                <button type="submit">Cancelar Assinatura</button>
                            </section>
                        </section>
                    </section>
                </div>
            </section>
        </div>

        <% if(popUp) { %>
            <div class="pop-up" style="display: flex">
                <div id="pop-up-content">
                    <span><button>X</button></span>
                    <h2><%- mensagem%></h2>
                    <h4><%- aviso%></h4>
                </div>
            </div>
            <% } %>

                <%- include('cadastroUsuario')%>

    </main>

    <%- include('partials/footer') %>