
<head>
    <link rel="stylesheet" href="/stylesheets/<%= pageName %>.css" />
        <script src="/javascripts/<%=js%>.js" defer></script>

        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/img/favicon.ico"
        />
</head>

<header>
    <div class="barra-superior">
        <div>
            <img src="/img/logo.svg" />
        </div>
        <div id="user-menu">
            <img src="/img/ico/user.png" id="icon-user"/>
            <div>
                <h2>Nome do Administrador</h2>
                <h3>Administrador</h3>
            </div>
            <button>Sair</button>
        </div>
    </div>
</header>

<main>
    <div class="barra-lateral">
        <a> <button>Produtos</button></a>
        <a> <button>Usuários</button></a>
        <a> <button>Vendas</button></a>
        <a> <button>Configurações</button></a>
    </div>

    <div id="titulos">
        <h1><%- titulo%></h1>
    </div>
    <div id="content-itens">
        <div id="itens">
            <div id="itens-titulo">
                <div>
                    <img src="/img/logo.svg"/>
                    <h4><%- titulo%> Produto</h2>
                </div>
            </div>
            <div id="lista-borda">
                <form action="/painel/atualiza" method="POST"  >
                    <div class="check">
                        <input type="radio" name="tipo" value="filmes" class="check" checked/>
                        <label for="Filmes">Filme</label>
                        <input type="radio" name="tipo" value="series" class="check" />
                        <label for="Séries">Série</label>
                        
                    </div>
                    <div id="div-select">
                        <div>
                        <label for="categorias_id">Categorias </label>
                        <select name="categorias_id" id="categoria">
                            <% categoria.forEach(element => { %>
                                <option value="<%- element.id %>"><%- element.nome %></option>
                            <% }); %>
                        </select>
                        </div>
                        <div>
                        <label for="classificacoes_id">Classificação </label>
                        <select name="classificacoes_id" id="classificacao">
                            <% classificacoes.forEach(element => { %>
                                <option value=<%- element.id %> ><%- element.nome %></option>
                            <% }); %>
                        </select>
                        </div>
                    </div>
                    <div id="div-add-dados">
                        <label for="nome">Nome do filme: </label>
                        <input type="text" name="nome" value=<%- filme.nome%> >

                        <textarea type="text" name="descricao" ><%- filme.descricao %></textarea>
                        <input type="text" name="valor" value="R$ <%- filme.valor %>" >
                        
                        <div id="carregar-img">
                            <div>
                            <p>Capa</p>
                            <img src="/img/filmes/<%- filme.background %>.jpg" alt="" id="previa-capa">
                            <input type="file" name="capa" id="img-capa"/>
                            <label for="capa">Enviar Imagem</label>
                            </div>
                            <div>
                            <p>Imagem Widescreen</p>
                            <img src="/img/filmes/<%- filme.imagem %>.jpg" alt="" id="previa-fundo">
                            <input type="file" name="fundo" id="img-fundo"/>
                            <label for="fundo">Enviar Imagem</label>
                            </div>
                        </div>

                    </div>
                    <button id="bt-confirmar"><img src="/img/ico/confirme.png" /></button>
                </form>
            </div>
        </div>
    </div>
</section>
</main>
<%- include('partials/footer')%>