<%- include('partials/header') %>

    <aside class="container-side">
        <nav id="menu">
            <h1>Minha Conta</h1><br>
            <hr><br>
            <ul>
                <li><a href="#historico">Histórico de pedidos</a></li><br>
                <li><a href="#alterar">Alterar cadastro</a></li><br>
                <li><a href="#cadastrar">Cadastrar cartão</a></li><br>
                <li><a href="#cancelar">Cancelar assinatura</a></li>
            </ul>
        </nav>
    </aside>
    <main>
        <h1 id="historico">Histórico de Pedidos</h1> <br>
        <section class="container"><br>
            <hr>
            <section class="historico">
                <div class="titulos">
                    <h2>Comprados</h2>
                </div>
                <hr>

                <div class="comprados">
                    <div> <img src="../img/filmes/homemAranha_01.jpg" alt="">
                        <p>Homem Aranha</p>
                    </div>
                    <div> <img src="../img/filmes/homemAranha_01.jpg" alt="">
                        <p>Homem Aranha</p>
                    </div>
                    <div> <img src="../img/filmes/homemAranha_01.jpg" alt="">
                        <p>Homem Aranha</p>
                    </div>
                    <div><img src="../img/filmes/homemAranha_01.jpg" alt="">
                        <p>Homem Aranha</p>
                    </div>
                </div>
                <!-- <div class="titulos">
                        <h2>Alugados</h2>
                    </div>
                    <hr>
                    <div class="alugados">
                        <div>
                            <img src="../img/filmes/homemAranha_01.jpg" alt="">
                            <p>Homem Aranha</p>
                        </div>
                        <div>
                            <img src="../img/filmes/homemAranha_01.jpg" alt="">
                            <p>Homem Aranha</p>
                        </div>
                        <div>
                            <img src="../img/filmes/homemAranha_01.jpg" alt="">
                            <p>Homem Aranha</p>
                        </div>
                        <div>
                            <img src="../img/filmes/homemAranha_01.jpg" alt="">
                            <p>Homem Aranha</p>
                        </div>
                    </div> -->
            </section>
        </section><br>

        <section class="altera-dados">
            <div class="titulos">
                <h1 id="alterar">Alterar Dados</h1>
            </div>
            <hr><br>

            <section class="alterar">
                <div class="formulario">
                    <div class="dados-usuario">
                        <form method="post" id="form-dados" action="/painel/painel-user">
                            <input value="<%- dados.nome_usuario %>" type="text" placeholder="NOME*" name="nome" minlength="3" maxlength="20">
                            <input value="<%- dados.sobrenome_usuario %>" type="text" placeholder="SOBRENOME*" name="sobrenome" minlength="3" maxlength="20">
                            <input value="<%- dados.cpf %>" type="text" placeholder="CPF/CNPJ*" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}">
                            <input value="<%- dados.codigo_postal %>" type="text" placeholder="CÓDIGO POSTAL*" name="codigo-postal" maxlength="8">
                            <input value="<%- dados.endereco %>" type="text" placeholder="ENDEREÇO*" name="endereco">
                            <input value="<%- dados.estado %>" type="text" placeholder="ESTADO*" name="estado">
                            <input value="<%- dados.cidade %>" type="text" placeholder="CIDADE*" name="cidade">
                            <input value="<%- dados.pais %>" type="text" placeholder="PAÍS*" name="pais">
                            <input value="<%- dados.email %>" placeholder="DIGITE NOVO E-MAIL" type="email"
                                name="email" id="email">
                            <input placeholder="DIGITE NOVO E-MAIL NOVAMENTE" type="email" name="email1" id="email1">
                            <input value="<%- dados.nome %>" placeholder="DIGITE NOVO NOME DE USUÁRIO" type="text"
                                name="name" id="name">
                            <input placeholder="DIGITE NOVA SENHA" type="password" name="password" id="password">
                            <input placeholder="DIGITE NOVA SENHA NOVAMENTE" type="password" name="password1"
                                id="password-1">
                            <button id="confirme-alterar">Confirmar alterações</button>
                        </form>
                    </div>
                </div>
            </section>
        </section><br>

        <!-- CARTAO DE CREDITO -->
        <section class="credit-card">
            <!-- <h1 id="cadastrar">Cadastrar novo Cartão</h1><hr><br>  -->
            <!-- <div class="card">
                <div class="face-card">
                    <img src="../img/pagamento/chip0.svg" alt="Chip" id="chip" class="absolute"></img>
                    <img src="../img/pagamento/signal0.svg" alt="Signal" id="signal" class="absolute"></img>

                    <div id="card-info" class="absolute">
                        <div id="card-number">XXXX XXXX XXXX XXXX</div>
                        <div class="label">Nome do Titular</div>
                        <div id="value">JOAO DA SILVA</div>
                        <div class="flex">
                            <div class="flex-expiration">
                                <div class="label">VALIDADE</div>
                                <div class="value">XX/XX</div>
                            </div>
                            <div class="flex-security">
                                <div class="label">CVC</div>
                                <div class="value">XXX</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <br>

            <div class="new-card">
                <h1>Dados do novo cartão</h1>
                <hr><br>
                <div class="form-container active">
                    <form class="formulario-card">
                        <input placeholder="Número do cartão" type="text" name="number">
                        <input placeholder="Nome completo" type="text" name="name1">
                        <input placeholder="MM/AA" type="text" name="expiry">
                        <input placeholder="CVC" type="text" name="cvc">
                        <button type="submit">Cadastrar Novo Cartão</button>
                    </form>
                </div>
            </div>
        </section> <br><br>

        <!-- CANCELAR CONTA -->
        <section class="cancelar">
            <div class="titulos">
                <h1 id="cancelar">Deseja cancelar sua assinatura?</h1>
            </div>
            <hr><br>

            <section class="cancel">
                <button type="submit">Cancelar Assinatura</button>
                <!-- <a href="#modal" class="btn">Clique aqui para cancelar</a>
                    <div id="modal" class="modal">
                        <div class="modal_content">
                            <p>Assinatura cancelada com sucesso!</p>
                            <a href="#" class="modal_link">Ok</a>
                        </div>
                    </div>
                </section> -->
            </section>
        </section>

        <% if(popUp) { %>
            <div class="pop-up" style="display: flex">
                <div id="pop-up-content">
                    <span><button>X</button></span>
                    <h2><%- mensagem%></h2>
                    <h4><%- aviso%></h4>
                </div>
            </div>
        <% } %>
        
    </main>

    <%- include('partials/footer') %>