<%- include('partials/header') %>
    <main>
        <section class="content-banner">
            <% for (const product of filme) { %>
                <img id="bk-filme" src="/img/filmes/<%=filme.background%>.jpg">
                <input type="hidden" value="1" id="id" name="id">
                <div class="container">
                    <div class="banner">
                        <img class="cover-filme" src="/img/filmes/<%=filme.imagem%>.jpg alt="">
                        <div class="descricao-container">
                            <!-- primeiro filho -->
                            <div id="bt-add-car">
                                <button type="submit" id="add-carrinho">Adicionar ao carrinho</button>
                            </div>
                            <!-- segundo filho -->
                            
                                <div id="descri-filme">
                                    <h1 id="nome-filme"></h1>
                                    <div class="genero">
                                    <span id="ano-filme">2021</span>

                                    <span id="genero-filme">Ação/Aventura</span>

                                    </div>
                           
                                <p id="descri-filme">000</p>
                            </div>
                            <!-- terceiro filho -->
                            <div id="bts-compra">
                                <div class="classificacao">
                                    <img id="indicacao" src="/img/classificação-indicativa/SELO +12.png" alt="">
                                </div>
                                <div class="botoes-compra">
                                    <div class="assitir">
                                        <button>Assitir</button>
                                    </div>
                                    <div class="comprar">
                                        <p id="valor-compra">
                                            <%=filme.valor_compra%>
                                        </p>
                                        <button>Comprar</button>
                                    </div>
                                    <div class="alugar">
                                        <p id="valor-aluga">
                                            <%=filme.valor_aluguel%>
                                        </p>
                                        <button>Alugar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faixas">
                        <div class="f1">
                            <p>8.3</p>
                        </div>
                        <div class="f2"></div>
                    </div>
                </div>
            <% } %>
        </section>

    </main>

    <%- include('partials/footer') %>