<head>
    <script src="/javascripts/produto.js" defer></script>
</head>

<%- include('partials/header') %>
    <main>
        <section class="content-banner">
            <img id="bk-filme" src="/img/<%= produto.tipo %>s/<%= produto.imagem %>.jpg">
            <input type="hidden" value="<%= produto.id %>" id="id" name="id">
            <div class="container">
                <div class="banner">
                    <img class="cover-filme" src="/img/<%= produto.tipo %>s/<%= produto.background %>.jpg">
                    <div class="descricao-container">
                        <div id="descri-filme">
                            <h1 id="nome-filme"><%= produto.nome %></h1>
                            <div class="genero">
                                <span id="genero-filme"><%-categoria.nome  %></span>
                            </div>

                            <p id="descri-filme"><%= produto.descricao %></p>
                        </div>
                        <div id="bts-compra">
                            <div class="classificacao">
                                <img id="indicacao" src="/img/indicativa/<%= produto.indicacao.imagem %>">
                            </div>
                            <div class="botoes-compra">

                                <div class="assitir">
                                    <button>Assitir</button>
                                </div>
                                <div class="comprar">
                                    <p id="valor-compra"> R$ <%-produto.valor  %></p>
                                    <button type="submit" id="btn-comprar">Comprar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faixas">
                        <div class="f1">
                            <p>8.3</p>
                        </div>
                        <div class="f2"></div>
                    </div>
                    </div>
            </section>


    </main>
    <div class="pop-Up">
        <div class="popup-content">
            <h2>Item adicionado ao Carrinho!</h2>
            <img src="/img/logo.svg" />
            <div>
                <a href="<%= '/index' %>"><button> CONTINUAR COMPRANDO</button> </a>
                <form action="/carrinho" method="get" id="montarCarrinho">
                    <input type="hidden" name="itensCarrinho"/>
                    <button type="submit"> VER CARRINHO </button>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>