<head>
    <script src="/javascripts/index.js" defer></script>
</head>

<%- include('partials/header') %>
    <main>

        <section class="container">
            <div class="titulos">
                <h1>Séries</h1>
            </div>

            <hr>
            <section class="series-home">
                <% for(const listaSeries of series) { %>
                    <div class="filme-show">
                        <a href="<%= '/produtos' %>\">
                            <img src="/img/series/<%= listaSeries.background %>.jpg" alt="" id="back-filme">
                            <div class="descri">
                                <div>
                                    <h3 id="nome-filme">
                                        <%= listaSeries.nome %>
                                    </h3>
                                    <p id="descri-filme">
                                        <%= listaSeries.descricao %>
                                    </p>
                                </div>
                                <div id="dados-filmes">
                                    <h1 id="id-filmes">
                                        <%= listaSeries.id %>
                                    </h1>
                                    <h1 id="categoria-filmes">
                                        <%= listaSeries.categoria %>
                                    </h1>
                                    <h1 id="tipo-filmes">
                                        <%= listaSeries.tipo %>
                                    </h1>
                                    <h1 id="compra-filmes">
                                        <%= listaSeries.valor %>
                                    </h1>
                                    <img src="/img/series/<%= listaSeries.imagem %>.jpg" id="img-filmes">
                                    <%= listaSeries.imagem %>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% }%>
            </section>
        </section>
    </main>
<%- include('partials/footer')%>
