<head>
    <link rel="stylesheet" href="/stylesheets/painelADM.css" />
        <script src="/javascripts/painelADM.js" defer></script>

        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/img/favicon.ico"
        />
</head>

<%- include('partials/painelHeader')%>

<main>
    <%- include('partials/lateralHeader')%>

    <section class="content">
        <div id="titulos">
            <h1>Usuários</h1>
        </div>
        <div id="content-itens">
            <div id="itens">
                <div id="itens-titulo">
                    <div>
                        <img src="/img/logo.svg"/>
                        <h4>Lista de Usuários</h2>
                    </div>
                    <div id="action-itens">
                        <form method="get" action="/painel/users/criar">
                            <button id="bt-adicionar"><img src="/img/ico/adicionar.png" /></button>
                        </form>
                    </div>
                </div>
                <div id="lista-borda">
                    <div id="itens-menu">
                        <ul>
                            <li>Nome</li>
                            <hr>
                            <li>Email</li>
                            <hr>
                            <li>Tipo</li>
                            <hr>
                            <li>Ação</li>
                        </ul>
                    </div>
                    
                    <% users.forEach(element => { %>
                        <div id="itens-lista">
                            <ul>
                                <li> <%- element.nome_usuario %> </li>
                                <hr>
                                <li><%- element.email %></li>
                                <hr>
                                <li><%- element.tipo_usuario %></li>
                                <hr>
                                <li id="br-lista">
                                    <form method="POST" action="/painel/users/editar?_method=PUT" id="form_editar">
                                        <input id="input-value" name="id" value=<%- element.id %> style="display: none" >
                                        <button id="bt-editar" type="submit" ><img src="/img/ico/lapis.png" /></button>
                                    </form>
                                    <form>
                                        <input id="inputDelele" name="id" value=<%- element.id %> style="display: none" >
                                        <button id="bt-excluir" ><img src="/img/ico/icone-x.png" /></button>
                                    </form>
                                    
                                </li>
                            </ul>
                        </div>
                    <% }) %>
                   
                </div>
            </div>
        </div>
    </section>

    <div class="pop-up">
        <div id="pop-up-content">
            <span><button>X</button></span>
            <h2>Deseja realmente EXCLUIR este usuário?</h2>
            <h4>Esta ação é irreversível!</h4>
            <form method="POST" action="/painel/users/deletar?_method=DELETE">
                <input id="pup-up-inputValue" name="id" style="display: none" >
                <button id="pup-up-excluir" >DELETAR</button>
            </form>
        </div>
    </div>

</main>