<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <link rel="stylesheet" href="/stylesheets/<%= pageName %>.css" />
        <link rel="stylesheet" href="/stylesheets/partials/header.css" />
        <link rel="stylesheet" href="/stylesheets/menu-mobile.css" />
        <link rel="stylesheet" href="/stylesheets/partials/footer.css" />
        <script src="/javascripts/montarCarrinho.js" defer></script>
        <script src="/javascripts/menu_mobile.js" defer></script>
        <script src="/javascripts/header.js" defer></script>
        <script src="/javascripts/<%=js%>.js" defer></script>

        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/img/favicon.ico"
        />

        <title><%=pageName%></title>
    </head>

    <header>
        <nav id="navbar-mobile">
            <div id="ativo-menu">
                <div id="menu-mobile">
                    <input type="checkbox" id="check-menu" />
                    <label for="check-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>
                <img id="logo-mobile" src="/img/logo.svg" />
            </div>
            <div id="op-menu">
                <div id="menu-content">
                    <hr />
                    <ul>
                        <li>
                            <a href="<%= '/index' %>">
                                <img
                                    src="/img/ico/silhueta-de-icone-de-casa.png"
                                />
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="<%= '/login' %>">
                                <img src="/img/ico/user-login.png" />
                                Login/cadastro
                            </a>
                        </li>
                        <li>
                            <form
                                action="/carrinho"
                                method="GET"
                                id="montarCarrinho"
                            >
                                <input
                                    type="hidden"
                                    name="itensCarrinho"
                                    id="itensCarrinho"
                                />
                                <button type="submit">
                                    <img src="/img/ico/carrinho.png" /> Carrinho
                                </button>
                            </form>
                        </li>
                        <li>
                            <a href="<%= '/produtos/categorias' %>">
                                <img src="/img/ico/cardapio.png" /> Categorias
                            </a>
                        </li>
                        <li>
                            <a href="<%= '/suporte' %>">
                                <img src="/img/ico/suporte-online.png" />
                                Suporte
                            </a>
                        </li>
                        <li>
                            <a href="<%= '/sobre' %>">
                                <img src="/img/ico/sobre-nos.png" /> Sobre
                                Nós</a
                            >
                        </li>
                    </ul>
                    <hr />
                    <span id="linha"></span>
                </div>
            </div>
        </nav>

        <nav id="navbar">
            <a href="<%= '/index' %>"
                ><img class="navlogo" src="/img/logo.svg" alt=""
            /></a>
            <div class="paginas">
                <ul>
                    <li><a href="<%= '/' %>">Home</a></li>
                    <li>
                        <a href="<%= '/produtos/categorias' %>">Categorias</a>
                    </li>
                    <li><a href="<%= '/suporte' %>">Suporte</a></li>
                    <li><a href="<%= '/sobre' %>">Sobre Nós</a></li>
                </ul>
            </div>
            <div class="content">
                <form class="column" action="" method="get">
                    <div class="navbusca">
                        <input type="text" name="search" id="search" />
                        <button type="submit">
                            <img src="/img/ico/lupa.svg" />
                        </button>
                    </div>
                </form>
                <div class="navuser">
                    <form action="/carrinho" method="GET" id="montarCarrinho">
                        <input
                            type="hidden"
                            name="itensCarrinho"
                            id="itensCarrinho"
                        />
                        <button type="submit">
                            <img src="/img/ico/carrinho.png" />
                            <span id="qtd-item">0</span>
                        </button>
                    </form>

                    <a href="<%= '/login' %>">
                        <img src="/img/ico/user.png" />
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <body></body>
</html>
